body
{
    background: rgb(235, 137, 137);
}

.login_div1 , .login_div2
{
  background: white;
  padding: 20px;
  float: none;
  border-radius: 30px;
}

#player1_name , #player2_name
{
   display: inline-block;
   margin-left: 6px;

}

#word
{
  width:60%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#word_display
{
   letter-spacing: 10px;
}

#output
{
  background:white;
  border-radius: 20px;
  border-top: 20px solid rgb(235, 137, 137);
  padding: 20px;
  float: none;
  text-align: left;
}
